*{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 235, 215);
}
.mane{
    margin-top: 15%;
    background-color: rgb(92, 78, 78);
}
.mane #value{
    font-size: 100px;
}

.button-container .btn{
    width: 100px;
    height: 40px;
    margin: 2px;
}